## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.gz
*.pdf
*.pdf
*.pdf
*.pdf
Esterni - ENG/PianoDiProgetto/Pianificazione.tex
Esterni - ENG/PianoDiProgetto/PianoDiProgetto.synctex(busy)
Esterni - ENG/PianoDiProgetto/PianoDiProgetto.pdf
Esterni - ENG/PianoDiProgetto/PianoDiProgetto.pdf
